@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* @font-face {
  font-family: "Poppins";
  src: url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap)
    format("woff2");
}
 */
$primaryColor:#fff;
$primaryDark: #2f1c6a;
$primaryLight:  #1a0c0c0d;
$primaryContrast: #0c1a1a;
$textPrimary: #2f1c6a;
$textSecondary: #666;
$textTercery:#730eb9;
$backgroundPrimary: #fff;
$backgroundSecondary:#1a0c0c0d;
$box-shadow: 0 0.3rem 10px rgba(0, 0, 0, 0.1);
$border: 1px solid rgba(0, 0, 0, 0.1);

html {
  font-size: 100%;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-padding-top: 7rem;
  background-color: #fafbff;
}

input,
textarea {
  border: $border;
}
input:focus,
textarea:focus {
  border: 2px solid $primaryColor;
}
/*----------------------------------------------------*/
%section-container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}
/*----------------------------------------------------*/
%heading {
  padding-bottom: 1.3rem;
  text-align: center;
  font-size: 2.85rem;
  color: $textPrimary;
  font-weight: 600;
  & span {
    position: relative;
    z-index: 0;
  }
  & span::before {
    content: "";
    position: absolute;
    bottom: 11px;
    left: 0;
    height: 100%;
    width: 100%;
    background: $primaryColor;
    z-index: -1;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
  }
}

/*----------------------------------------------------*/


%btn {
  transition: 0.2s linear;
  display: inline-block;
  padding: 0.7rem 1.9rem;
  background: $primaryColor;
  background: $primaryLight;
  color: $textPrimary;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  &:hover {
    background: $textPrimary;   
    color:$primaryColor;
  }
}

/*----------------------------------------------------*/

.header {
  transition: 0.3s linear;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $backgroundPrimary;
  padding: 35px 5%;
  z-index: 1000;

  &--active {
    padding: 19px 4%;
    box-shadow: $box-shadow;
  }
}
.header-container {
  @extend %section-container;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    font-size: 1.56rem;
    color: $textPrimary;
    font-weight: 600;
    &__text {
      color: $primaryColor;
    }
  }
  &__navbar {
    &__link {
      text-transform: capitalize;
      transition: 0.2s linear;
      margin: 0 0.6rem;
      font-size: 1.05rem;
      color: $textPrimary;
    }
    &__link:hover {
      color: $textTercery;
    }
  }
  %icon {
    transition: 0.2s linear;
    display: none;
    font-size: 22px;
    color: $textSecondary;
    cursor: pointer;
  }
  &__login-btn {
    &__button {
      @extend %btn;
    }
    &__icon {
      @extend %icon;
    }
  }
  &__menu-icon {
    @extend %icon;
  }
}
/*----------------------------------------------------*/

.modal {
  position: fixed;
  top: -105%;
  transition: 0.2s linear;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10000;
  &__close-btn {
    position: absolute;
    top: 1rem;
    right: 1.8rem;
    font-size: 3rem;
    color: $textPrimary;
    cursor: pointer;
  }
  &--active {
    top: 0;
  }
}

.modal--active {
  top: 0;
}
/*----------------------------------------------------*/
.login-form {
  margin: 1.25rem;
  text-align: center;
  padding: 1.25rem;
  width: 25rem;
  border-radius: 5px;
  box-shadow: $box-shadow;
  border: $border;
  background: $backgroundPrimary;
  & h3 {
    font-weight: 600;
    padding-bottom: 0.7rem;
    font-size: 1.55rem;
    color: $textPrimary;
    text-transform: uppercase;
  }
  &__input {
    margin: 0.5rem 0;
    width: 100%;
    font-size: 1rem;
    color: $textPrimary;
    text-transform: none;
    border: $border;
    padding: 0.7rem 0.75rem;
    border-radius: 5px;
  }
  & p {
    padding: 1rem 0;
    font-size: 0.95rem;
    color: $textSecondary;
    & a {
      color: $primaryColor;
      text-decoration: underline;
    }
  }
  &__submit-btn {
    @extend %btn;
    display: block;
    width: 100%;
    margin: 0.2rem 0;
  }
  &__buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    &__btn {
      @extend %btn;
      display: block;
      width: 100%;
      margin: 0.2rem 0;
    }
  }
}
/*----------------------------------------------------*/

.home {
  transition: 0.2s linear;
  @extend %section-container;
  padding-top: 6.5rem;
  text-align: center;
  overflow-x: hidden;
  & h3 {
    color: $textPrimary;
    font-size: calc(min(7.5vw, 150px));
    text-transform: uppercase;
    font-weight: 600;
  }
  & img {
    width: 90%;
    margin: 1rem 0;
    height: auto;
  }
  &__parallax {
    transition: 0.2s linear;
    &--explore-btn {
      @extend %btn;
    }
  }
}
/*----------------------------------------------------*/

.icons {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: $backgroundSecondary;
  margin-top: 2rem;

  &__container {
    @extend %section-container;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    padding: 0 4%;
    &__icon {
      transition: 0.2s linear;
      background: $backgroundPrimary;
      display: flex;
      align-items: center;
      box-shadow: $box-shadow;
      border-radius: 5px;
      padding: 1.25rem;
      gap: 1rem;
      & i {
        height: 3.2rem;
        width: 3.2rem;
        line-height: 3.2rem;
        font-size: 1.6rem;
        color: $textPrimary;
        background: $backgroundSecondary;
        text-align: center;
        border-radius: 50%;
      }
      &__content {
        h3 {
          font-weight: 600;
          font-size: 1.6rem;
          color:$textPrimary;
        }
        p {
          font-size: 0.95rem;
          color: $textSecondary;
        }
      }
    }
    &__icon:hover {
     background: $textPrimary; 
    
      i {
   
        background:$backgroundPrimary;
        color: $textPrimary;
       
      }
      h3 {
     /*    color: $primaryContrast; */
     color:#fafbff
      }
      p {
        color: #fff
        ;
      }
    }
  }
}

/*----------------------------------------------------*/

.vehicles {
  @extend %section-container;
  padding: 1.5rem;

  &__heading {
    @extend %heading;
  }
  &__slider {
    &__navigation {
      &--prev::after,
      &--next::after {
        font-size: 32px !important;
        color: $primaryColor;
        color: $textSecondary;
        margin-bottom: 60px;
      }
    }
    .swiper-pagination-bullet-active {
      background: $textPrimary;
    }
    .swiper-slide {
      text-align: center;
      text-transform: capitalize;
      padding-bottom: 3.2rem;
      & img {
        transition: 0.2s linear;
        width: 100%;
        transform: scale(0.8);
        opacity: 0.5;
      }
      &__content {
        transition: 0.2s linear;
        padding-top: 0.65rem;
        transform: scale(0);
        & h3 {
          font-size: 1.5rem;
          color: $textPrimary;
          font-weight: 600;
        }
        &__price {
          font-size: 1.4rem;
          color: $primaryDark;
          padding: 1rem 0;
          font-weight: 600;
          span {
            color: $textSecondary;
            font-size: 0.95rem;
            font-weight: normal;
          }
        }
        & p {
          font-size: 1rem;
          color: $textSecondary;
          padding: 0.7rem 0;
          padding-top: 0.9rem;
          border-top: $border;
          & span {
            font-size: 0.6rem;
            color: $primaryColor;
            padding: 0 0.5rem;
          }
        }
        &__btn {
          @extend %btn;
        }
      }
      &-active {
        box-shadow: $box-shadow;
        .swiper-slide__content {
          transform: scale(1);
        }
        img {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
}

/*----------------------------------------------------*/

.services {
  @extend %section-container;
  padding: 0.9rem;
  &__heading {
    @extend %heading;
  }
  &__container {
    padding: 0 4%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    gap: 1rem;
    &__card {
      transition: 0.2s linear;
      padding: 1.3rem;
      border-radius: 5px;
      box-shadow: $box-shadow;
      border: $border;
      text-align: center;
      & i {
        height: 3.8rem;
        width: 3.8rem;
        line-height: 3.8rem;
        border-radius: 50%;
        font-size: 1.6rem;
        margin-bottom: 0.65rem;
        background: $backgroundSecondary;
        color: $textPrimary;
      }
      & h3 {
        font-size: 1.4rem;
        color: $textPrimary;
        text-transform: capitalize;
        font-weight: 600;
      }
      & p {
        line-height: 1.8;
        padding: 0.7rem 0;
        font-size: 0.9rem;
        color: $textSecondary;
      }
      &__more-btn {
        @extend%btn;
        background:rgba(26, 12, 12, 0.0509803922);;
        color: $textPrimary;  
      }
    }
    &__card:hover {
         & h3 {
        color: $primaryDark;
      }
      & p {
        color: $primaryDark;  
      }
      &__more-btn {
     
        color: $primaryDark;  
      }
    
     
    }
  }
}

/*----------------------------------------------------*/
.featured {
  @extend %section-container;
  padding: 0.9rem 5%;
  &__heading {
    @extend %heading;
  }
  &__slider {
    &__navigation {
      &--prev::after,
      &--next::after {
        font-size: 23px !important;
        color: $primaryColor;
        color: $textSecondary;
        display: none;
        margin-bottom: 60px;
      }
    }
    padding: 0 5px !important;

    .swiper-wrapper {
      padding-bottom: 2.5rem;
    }
    .swiper-slide {
      padding: 1.25rem;
      text-align: center;
      box-shadow: $box-shadow;
      border: $border;
      border-radius: 5px;
      & img {
        transition: 0.2s linear;
        width: auto;
        max-width: 100%;
        height: auto;
        height: 9.4rem;
      }
      &__content {
        & h3 {
          font-size: 1.4rem;
          color: $textPrimary;
          font-weight: 600;
        }
        &__stars {
          padding: 0.65rem 0;
          & i {
            font-size: 1.1rem;
            color: $primaryDark;
          }
        }
        &__price {
          font-size: 1.6rem;
          color: $textPrimary;
        }
        &__check-btn {
          @extend%btn;
        }
      }
    }
    .swiper-slide:hover {
      img {
        transform: scale(0.9);
      }
    }
  }
}

/*----------------------------------------------------*/

.newsletter {
  padding: 3.8rem 1.25rem;
  background: url(../assets/images/letter-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  & h3 {
    font-size: 1.9rem;
    color: $textPrimary;
    font-weight: 600;
  }
  & p {
    font-size: 0.95rem;
    color: $textSecondary;
    padding: 0.65rem 0;
  }
  &__form {
    max-width: 37.5rem;
    height: 3.1rem;
    background: $backgroundPrimary;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    margin: 0.65rem auto;
    box-shadow: $box-shadow;
    & input[type="email"] {
      height: 100%;
      width: 100%;
      padding: 0 1.3rem;
      font-size: 1.1rem;
      color: $textPrimary;
      text-transform: none;
    }
    & input[type="submit"] {
      transition: 0.2s linear;
      height: 100%;
      width: 10.55rem;
      font-size: 1.15rem;
      color: $textPrimary;
      background: $primaryLight;
      cursor: pointer;
    }
    & input[type="submit"]:hover {
      background: $primaryColor;
      color: #000;
    }
  }
}

/*----------------------------------------------------*/
.reviews {
  @extend %section-container;
  padding: 0.9rem 3%;
  &__heading {
    @extend %heading;
  }
  .review__slider {
    .swiper-wrapper {
      padding-bottom: 1.5rem;
    }
    &__navigation {
      &--prev::after,
      &--next::after {
        font-size: 25px !important;
        color: $primaryColor;
        color: $textSecondary;
      }
    }
    .swiper-slide {
      transition: 0.2s linear;
      text-align: center;
      padding: 1.25rem;
      margin: 1.25rem 0;
      opacity: 0.4;
      transform: scale(0.9);
      & img {
        height: 4.4rem;
        width: 4.4rem;
        border-radius: 50%;
        object-fit: cover;
      }
      &__content {
        & p {
          color: $textSecondary;
          font-size: 0.9rem;
          padding: 0.65rem 0;
        }
        & h3 {
          color: $textPrimary;
          font-size: 1.4rem;
          padding-bottom: 0.35rem;
        }
        &__stars i {
          color: $primaryDark;
          font-size: 1.1rem;
        }
      }
    }
    .swiper-slide-active {
      opacity: 1;
      transform: scale(1);
      box-shadow: $box-shadow;
      border: $border;
      border-radius: 5px;
    }
  }
}

/*----------------------------------------------------*/

.contact {
  @extend %section-container;
  padding: 0.9rem 4%;
  &__heading {
    @extend %heading;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9rem;
    &__map {
      flex: 1 1 22rem;
      width: 100%;
      padding: 1.25rem;
      box-shadow: $box-shadow;
      border: $border;
      border-radius: 5px;
    }
    &__form {
      padding: 1.25rem;
      flex: 1 1 22rem;
      box-shadow: $box-shadow;
      border: $border;
      text-align: center;
      border-radius: 5px;
      & h3 {
        font-size: 1.9rem;
        font-weight: 600;
        color: $textPrimary;
        padding-bottom: 0.65rem;
      }
      %input {
        width: 100%;
        border-radius: 5px;
        padding: 0.7rem 0.8rem;
        font-size: 1.1rem;
        text-transform: none;
        margin: 0.45rem 0;
      }
      & input {
        @extend%input;
      }
      & textarea {
        @extend%input;
        height: 9.5rem !important;
        resize: none;
      }
      &__submit-btn {
        @extend%btn;
      }
    }
  }
}

/*----------------------------------------------------*/

.footer {
  background: $backgroundSecondary;
  padding-bottom: 3rem;
  &__container {
    @extend%section-container;
    margin-top: 4rem;
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 0.95rem;
    &__box {
      padding-left: 6%;
      & h3 {
        font-size: 1.4rem;
        padding: 0.65rem 0;
        color: $textPrimary;
      }
      & a {
        display: block;
        font-size: 0.9rem;
        padding: 0.65rem 0;
        color: $textSecondary;
        & i {
          transition: 0.2s linear;
          padding-right: 0.4rem;
          color: $textPrimary;
        }
      }
      & a:hover i {
        padding-right: 1.3rem;
      }
    }
  }
  &__credit {
    text-align: center;
    padding: 0.9rem;
    padding-top: 1.5rem;
    margin-top: 1rem;
    border-top: $border;
    font-size: 1rem;
    color: $textPrimary;
    & a {
      color: $primaryDark;
    }
    & a:hover {
      //color: #000;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.footer .credit {
  text-align: center;
  padding: 0.9rem;
  padding-top: 1.5rem;
  margin-top: 1rem;
  border-top: $border;
  font-size: 1rem;
  color: $textPrimary;
}

/*----------------------------------------------------*/
/*----------------------------------------------------*/
.swiper-pagination-bullet-active {
  background: $primaryDark !important;
}
/*----------------------------------------------------*/
@media (max-width: 1000px) {
  html {
    font-size: 85%;
  }
  .header {
    padding: 20px 4%;

    &--active {
      padding: 16px 2%;
    }
  }
}

@media (max-width: 800px) {
  .header-container {
    %icon {
      display: block;
    }
    &__menu-icon--active {
      transform: rotate(180deg);
    }
    &__login-btn__button {
      display: none;
    }

    &__navbar {
      transition: 0.2s linear;
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: $backgroundPrimary;
      box-shadow: $box-shadow;
      border-top: transparent;
      height: 0px;
      overflow: hidden;
      //  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      &--active {
        border-top: $border;
        height: 350px;
        //clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
      &__link {
        display: block;
        margin: 2rem;
        font-size: 1.3rem;
      }
    }
  }
}

@media (max-width: 450px) {
  %section-container {
    width: 95%;
  }
  html {
    font-size: 85%;
  }

  .heading {
    font-size: 3rem;
  }
}
